.login-container {
    height: 600px;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    padding: 100px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    align-items: center;
    text-align: center;
}

.login-form {
    margin-top: 50px;
}

#standard-basic {
    align-items: center;
    text-align: center;
    width: 300px;
}
#login-link {
    color: black;
}

#signup-link {
    margin-top: 20px;
    text-decoration: none;
}

#login-btn {
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
}