
.signup-container {
    height: 600px;
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    padding: 100px;
    background-color: rgba(255, 255, 255, 0.35);
    align-items: center;
    text-align: center;
}

.signup-form {
    margin-top: 20px;
}

#standard-basic {
    margin-block: 10px;
    align-items: center;
    text-align: center;
    width: 300px;
}

#signup-link {
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

#btn {
    height: 40px;
    width: 120px;
    border:none;
    border-radius: 5px;
    background-color: blue;
    color: white
}